<!-- ======================================================
     DASHBOARD
======================================================= -->

<div class="row g-3 mb-4">


    <div class="col-md-3">

        <div class="card dashboard-card shadow-sm">

            <div class="card-body">

                <small class="text-muted">
                    Total contratos
                </small>

                <div
                    id="totalContratos"
                    class="dashboard-number"
                >
                    0
                </div>

            </div>

        </div>

    </div>


    <div class="col-md-3">

        <div class="card dashboard-card shadow-sm">

            <div class="card-body">

                <small class="text-muted">
                    Contratos vigentes
                </small>

                <div
                    id="contratosVigentes"
                    class="dashboard-number text-success"
                >
                    0
                </div>

            </div>

        </div>

    </div>


    <div class="col-md-3">

        <div class="card dashboard-card shadow-sm">

            <div class="card-body">

                <small class="text-muted">
                    Próximos a vencer
                </small>

                <div
                    id="contratosPorVencer"
                    class="dashboard-number text-warning"
                >
                    0
                </div>

            </div>

        </div>

    </div>


    <div class="col-md-3">

        <div class="card dashboard-card shadow-sm">

            <div class="card-body">

                <small class="text-muted">
                    Vencidos
                </small>

                <div
                    id="contratosVencidos"
                    class="dashboard-number text-danger"
                >
                    0
                </div>

            </div>

        </div>

    </div>

</div>
